/* Homepage */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0c0d0e;
    color: white;
}

.index-page .index-col4 {
    border: 2px solid
}

.carousel-header {
    font-weight: bold;
}

.homepage-col4, .gallery-col4, .pricing-col4 {
   border: 2px solid;
}

.homepage-col4, .homepage-col8 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.special-occassions {
    margin-top: 23px;
}

.header2 {
    font-weight: bold;
    color: white;
    text-align: center;
}

.index-page .header2-special-ocassions {
    text-align: center;
}

.content-text-bold {
    font-weight: bold;
    color: white;
    text-align: center;
}

.content-text {
    text-align: center;
    color: white;
}

.container {
    max-width: 1024px;
    margin-top: 20px;
}

/* @media (max-width: 1281px) {
  .sidebr,
  .gallery-col4 {
      border: none;
  } 
} */
@media (max-width: 1024px) {
    .index-page .index-page-row {
        justify-content: center;
        padding: 0!important;
    }
}

@media (max-width: 1024px) {
    .index-page .index-page-row {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .gallery-col8 {
        display: none;
    }
}

@media (min-width: 1024px) {
    .gallery-image {
        width: 30%;
    }
}


.carousel-caption {
    text-shadow: 3px 3px 2px black;
}

.row {
    padding-right: 15px;
}

.phone-number {
    display: block;
    text-align: center;
}

a {
    color: #72D3D4;
}

a:hover {
    color: #A1A1D4;
}

.header-link {
    color: black;
}

.header-link:hover {
    color: #A1A1D4;
}

.logo {
    font-size: 3em;
    color: #72D3D4;
    margin-right: 15px;
}

.henfield-ladies-branch-homepage, .henfield-mens-branch-homepage {
    margin: 15px 0;
}

@media screen and (min-device-width: 481px) and (max-device-width: 1200px) { 
    .homepage-col8 {
        margin-left: 1rem;
    }
}

/* Gallery */

.gallery-page .gallery-container {
    padding: 0!important;
}

h4 {
    font-weight: bold;
}

#branches {
    margin: 60px auto;
}
.henfield-mens-branch, .henfield-ladies-branch {
    margin-top: 20px;
}

.gallery-image {
    margin: 5px;
}

.pricing-images, .owner-photo-gallery {
    width: 90%;
    margin: 5px auto;
}

.gallery-image {
    transition: all 1s;
}

.gallery-image:hover{
    transform: scale(1.1);
}

#owner-photo {
    width: 100%;
    display: block;
    margin: 50px auto;
}

@media (max-width: 426px) {
    .owner-photo-gallery {
        display: none;
    }
}


/* Pricing */

.pricing-page .pricing-page-products {
    display: flex;
}

.pricing-page ul {
    padding-right: 20px;
}

li {
    list-style: none;
}

.henfield-mens-branch-pricing, .henfield-ladies-branch-pricing {
    margin: 20px auto;
}

#weekdays {
    margin-left: 5px;
}

@media (max-width: 426px) {
    .pricing-col4 {
        display: none;
    }
}

@media (max-width: 426px) {
    .pricing-header {
        text-align: center;
    }
}